@import "../../../../utils/global.scss";

.basket {
    max-width: 340px;
    width: 100%;
    background: $c-dark-l;
    height: calc(100% - 120px);

    padding-bottom: 180px;
    border-radius: 10px;
    position: fixed;
    right: 20px;
    z-index: 10;
  }
  
  .clear {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: $c-gray-l;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .clear__icon {
    width: 95px;
    height: 95px;
    fill: $c-gray-l;
    margin-bottom: 16px;
  }
  
  .order__info {
    position: absolute;
    bottom: 10px;
    width: calc(100%);
    left: 0;
    padding: 10px;
  }
  
  .sum {
    width: 100%;
    height: 80px;
    background: $c-light;
    border-radius: 5px;
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
  }
  
  .sum .sum__total {
    color:$c-gray-l;
  }
  
  .order__get {
    width: 100%;
    height: 80px;
    background: $c-light;
    border-radius: 5px;
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .btn {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background: $c-gray-l;
    color: white;
  }
  .red {
    background: $c-brand;
  }
  
  @media (min-width: 768px) {
    .basket {
      display: none;
      
    }
    .tabs {
      display: none;
    }
  }
  
  @media (min-width: 1200px) {
    .basket {
      display: block;
    }
    .tabs {
      position: fixed;
      right: 20px;
      max-width: 340px;
      width: 100%;
      height: 50px;
      display: flex;
      align-items: center;
      background: $c-dark-l;
      border-radius: 10px;
      overflow: hidden;
      z-index: 10;
    }
    .tab {
      width: calc(100% / 2);
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: all 0.5s ease;
    }
    .active {
      background-color: $c-brand;
      color: $c-light;
    }
    a {
      text-decoration: none;
    }
  }

  .item {
    position: relative;
    width: 100%;
    height: 100px;
    cursor: pointer;
    background: $c-light;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
  }
  .name {
    font-size: 16px;
    line-height: 20px;
    overflow: hidden;
    color: #292929;
  }
  .image {
    width: 50px;
    margin-right: 10px;
  }
  .prices {
    display: flex;
    justify-content: flex-end;
    margin-top: 18px;
    margin-right: 5px;
  }
  .price__old {
    margin-right: 23px;
    -webkit-text-decoration-line: line-through;
    text-decoration-line: line-through;
    color: $c-gray-l;
  }

  .close {
    position: absolute;
    top: -5px;
    left: -8px;
    width: 26px;
    height: 26px;
    background: white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $c-brand;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12);
    user-select: none;  
  }

  .incr {
    width: 26px;
    height: 26px;
    border-radius: 100%;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer
  }

.decr {
  width: 26px;
  height: 26px;
  border-radius: 100%;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.quantity {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5px;
  user-select: none;  
}

.count {
  margin-top: 5px;
  margin-bottom: 5px;
}
.content {
  height: calc(100% - 40px);
  overflow-y: scroll;
  padding: 10px;
  &::-webkit-scrollbar {width:0px;}
}

.catalogPage {
  top: 150px;
  height: calc(100% - 170px);
}

