@import "../../../../../utils/global.scss";

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-left: 16px;
  border-radius: 10px;

}
.icon {
  width: 22px;
  height: 22px;
  fill: $c-gray-l;
}
