@import "../../../../../utils/global.scss";
@media (min-width: 768px) {
    .icon {    
      width: 26px;
      height: 26px;
      fill: $c-gray-l;   
    }
    .catalog {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 8px;
      transition: all 0.5s ease;
    }
  }
  @media (min-width: 1200px) {
    .catalog {
      display: none;
    }
  }


