@import "../../../../utils/global.scss";
.banner {
  display: block;
  position: relative;
  width: 100%;
  max-width: 100%;
  background: $c-dark-l;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  &:before {
    content: '';
    display: block;
    padding-top: 49.3421052631579%;
  }
  > .slide {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all .5s ease;
  }

}

.arrows {
  position: absolute;
  top: 50%;
  color: #fff;
  z-index: 2;
  cursor: pointer;
  user-select: none;
}
.arrowsLeft {
  left: 10px;
}
.arrowsRight {
  right: 10px;
}