@import "../../../../../utils/global.scss";
@media (min-width: 768px) {
    .search {
      display: none;
    }
    .search__input {
      width: 255px;
      height: 32px;
      border: none;
      border-radius: 5px;
      padding: 11px;
      color: $c-gray-l;
      outline: none;
    }
  }
  
  @media (min-width: 992px) {
    .search {
      display: block;
    }
    .search__input {
      width: 350px;
      height: 32px;
      margin-left: 20px;
    }
  }
  
  @media (min-width: 1200px) {
    .search {
      display: none;
    }
  }

  @media (min-width: 1500px) {
    .search {
      display: flex;
    }
  }