@import '../../../../utils/global.scss';

.mainWr {
    padding: 0 8px;
    margin-top: 10px;
}
.contact {
    padding: 10px;
    background: $c-dark-l;
    border-radius: 5px;

}
.title {
    font-size: 14px;
    margin-top: 0;
}
.dropdown {
    width: 100%;
    background-color: $c-brand;
    color: #fff;
    border-radius: 10px;
    position: relative;
    margin-top: 10px;
    position: relative;
    transition: all 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
        align-items: center;
        width: 100%;
        margin-top: 10px;
        display: flex;
        justify-content: center;
    }
}
.dropdownMenu {
    width: 100%;
    color: black;
    opacity: 0;
    display: none;
    background: $c-light;
    padding: 5px;
    border-radius: 0px 0px 10px 10px;
    border: 2px solid $c-brand;
    transition: all 0.5s ease;
}
.active {
    display: block;
    opacity: 1;
}
.item {
    border-bottom: 1px dashed $c-brand ;
    padding-top: 5px;
    padding-bottom: 5px;
}
.input {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: $c-light;
    border-radius: 5px;
    outline: none;
    margin-bottom: 10px;
}
.login {
    padding: 10px 15px;
    width: calc(100% / 2);
    margin-right: 0;
    &:first-child {
        margin-right: 10px;
    }
}
.google {
    background: $c-light;
}
.bigInput {
    height: 100px;
}
