@import '../../../../../utils/global.scss';


.nav {
    
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
}
.link {
    text-decoration: none;
    color: $c-dark;  
    margin-right: 25px;
    cursor: pointer;
    &:hover {
       color: $c-brand; 
       
    }
}

@media (min-width: 768px) {
    .nav {
        display: none;
    }
}
@media (min-width:1200px) {
    .nav {
        display: block;
        &:first-child {
            margin-left: 120px;
        }
        
    }
}